.teamDetailsCard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamDetailsCardInner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 720px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 3%;
}

.teamDetailsCardRightSide {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.teamImg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.teamImg img {
  width: 30rem;
  align-items: center;
  justify-content: center;
}

.teamCarImg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.teamCarImg img {
  width: 25rem;
}

.teamInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 25px;
  width: 100%;
}

.teamInfoItem {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
}

.teamDetailsTable {
  width: auto;
}

.teamDetailsTable td {
  background-color: aliceblue;
  color: darkred;
  text-align: left;
  font-size: 1em;
}
.teamDetailsTable th {
  background-color: aliceblue;
  color: darkred;
  text-align: left;
  font-size: 1em;
}

.teamDetailsTable tr {
  padding-left: 100px;
}

.teamDetailsCardLeftSide {
  background-color: darkred;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.teamDetailsCardInner .team-close-btn {
  position: absolute;
  top: 12px;
  right: 16px;
  background-color: black;
  width: 50px;
  height: 50px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: whitesmoke;
  font-weight: bolder;
  border: 5px darkred solid;
}
