.standingTable {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-content: stretch;
  padding: 20px;
}

Table {
  border-collapse: collapse;
  width: 100vw;
  margin: 20px;
}

th {
  font-size: 1.25em;
  padding: 10px;
  color: #808080;
  background-color: #f4f4f4;
}

tr {
  background-color: #f4f4f4;
}

td {
  height: 20px;
  font-size: 1.25em;
  padding: 15px;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #dbdbdb;
}
