.standingsTable {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  max-width: 100vw;
}

Table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px;
  border: 5px solid darkred;
}

th {
  font-size: 1.25em;
  padding: 10px;
  background-color: #1c1f2361;
  color: darkred;
}

tr {
  background-color: #f4f4f4;
  background-color: #262c3461;
  color: white;
}

td {
  height: 20px;
  font-size: 1.25em;
  padding: 15px;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #dbdbdb;
  background-color: #585c6061;
  color: white;
}
