#driverCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

#driverCards .card {
  width: 16rem;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #262c3461;

  color: whitesmoke;
  margin: 20px;
  padding: 10px;
  min-height: 250px;
  max-width: 250px;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border: 5px solid darkred;
  font-size: 1.25em;
}
#driverCards .card:hover {
  border: 5px solid orange;
  cursor: pointer;
}

.card-img-top {
  width: 10rem;
  padding-bottom: 13px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

p.card-text {
  text-align: center;
}

.card-title {
  text-align: center;
}

.driverPage,
h1 {
  text-align: center;
  color: #e03102;
  text-shadow: 0.4px 0.4px red;
}

#driverNumber {
  position: absolute;
  left: 15px;
  top: -15px;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
  color: whitesmoke;
}

p.driverPoints {
  color: red;
  background-color: #06111f61;
  border-bottom-right-radius: 30%;
  border-top-left-radius: 30%;
  padding: 10px;
  font-weight: bold;
}
