#teamCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

#teamCards .card {
  width: 16rem;
  position: relative;
  display: flex;
  flex-direction: column;
  /* background-color: #e03102; */
  background-color: #262c3461;

  color: whitesmoke;
  margin: 20px;
  padding: 10px;
  min-height: 250px;
  max-width: 250px;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  /* box-shadow: 3px 3px 2px white; */
  border: 5px solid darkred;
  font-size: 1.25em;
}
#teamCards .card:hover {
  border: 5px solid orange;
  cursor: pointer;
}

.teamImage {
  width: 16rem;
  padding-bottom: 13px;
  margin-top: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

p.card-text {
  text-align: center;
}

.card-title {
  text-align: center;
}

.teamPage,
h1 {
  text-align: center;
  color: #e03102;
  text-shadow: 0.4px 0.4px red;
}

p.teamPoints {
  color: red;
  background-color: #06111f61;
  border-bottom-right-radius: 30%;
  border-top-left-radius: 30%;
  padding: 10px;
  font-weight: bold;
}
