header {
  background-color: #262c34;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Titillium Web', sans-serif;
}

.f1logo {
  padding: 10px;
}

.navi {
  position: relative;
  display: flex;
  margin: 10px 0;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  margin-right: 50px;
}

.nav,
button {
  color: whitesmoke;
  height: 3em;
  min-width: 150px;
  background-color: darkred;
  border: 0px;
}

.nav_link.active button {
  background-color: whitesmoke;
  color: darkred;
}
.nav_link button:hover {
  background-color: firebrick;
  color: whitesmoke;
}
