header {
  background-color: #262c34;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Titillium Web', sans-serif;
  width: 100%;
}

.f1logo {
  padding: 10px;
}

.navi {
  position: relative;
  display: flex;
  margin: 10px 0;
  align-items: center;
  justify-content: space-around;
  margin-right: 50px;
}

.nav_link > button {
  color: whitesmoke;
  height: 3em;
  min-width: 150px;
  background-color: darkred;
  border: 0px;
  margin: 2px;
}

.nav_link.active button {
  background-color: whitesmoke;
  color: darkred;
}
.nav_link button:hover {
  background-color: firebrick;
  color: whitesmoke;
}

.logoAndMenuButtonArea {
  display: flex;
  justify-content: space-around;
}

.headerMenuSwitch {
  display: none;
}

.headerMenuSwitch:hover {
  background-color: firebrick;
}
@media only screen and (max-width: 991px) {
  .f1logo img {
    width: 100px;
  }
  .navi a button {
    min-width: 1px;
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
  }
  .navi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 100%;
    display: none;
  }
  header {
    display: flex;
    flex-direction: column;
  }

  .headerMenuSwitch {
    display: block;
    margin-right: 20px;
    color: whitesmoke;
    height: 3em;
    min-width: 75px;
    background-color: darkred;
    border: 0px;
  }
  .logoAndMenuButtonArea {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logoAndMenuButtonArea a {
    margin: 0px;
  }
  .show {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .navi {
    margin-right: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .navi {
    margin-right: 50px;
  }
}
