.DetailsCard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.DetailsCardInner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 720px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 3%;
}

.driverImg {
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.driverImg img {
  width: 17rem;
  align-items: center;
  justify-content: center;
}

.driverInfo {
  background-color: aliceblue;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.infoItem {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.driverDetailsTable {
  width: auto;
  border: 0;
}

.driverDetailsTable td {
  background-color: aliceblue;
  color: darkred;
  text-align: left;
  font-size: 1em;
}
.driverDetailsTable th {
  background-color: aliceblue;
  color: darkred;
  text-align: left;
  font-size: 1em;
}

.driverDetailsTable tr {
  padding-left: 100px;
}

.DetailsCardLeftSide {
  background-color: darkred;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DetailsCardInner .close-btn {
  position: absolute;
  top: 12px;
  right: 16px;
  background-color: black;
  width: 50px;
  height: 50px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: whitesmoke;
  font-weight: bolder;
  border: 5px darkred solid;
}

@media only screen and (max-width: 600px) {
  .DetailsCardLeftSide {
    width: 95vw;
  }
  .DetailsCardRightSide {
    width: 95vw;
  }
}
